body{
    margin: 0;
    padding: 10px;
    font-family:Arial, Helvetica, sans-serif;
    min-width: 400px;
}

input {
    width: 100%;
    margin-bottom: 8px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #5f9341;
    border-radius: 2px;
    background-color: #f9f9f9;
    font-size: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    transition: border-color 0.3s ease, box-shadow 0.3s ease; 
}

input:focus {
    outline: none; 
    border-color: #1c8ae4;
    box-shadow: 0 0 8px rgba(28, 138, 228, 0.5);
}

button{
    border-radius: 2px;
    background-color: #5f9341;
    color: white;
    border: none;
    padding: 10px 18px;
    font-weight: bold;
    transition: background-color 0.5s ease, transform 0.3s ease;
}

button:hover{
    cursor: pointer;
    transform: scale(1.1);
    background-color: #1c8ae4;
}

button:active{
    transform: scale(0.9);
}

ul{
    list-style-type: none;
    padding: 0;
}

li{
   margin-top: 5px;
}

li a /*Only style this to a tag inside li item*/{
    text-decoration:none;
    color: #5f9341 ;
    font-weight: bold;
}

a:hover{
    color: #1c8ae4;
    text-decoration: underline;
}